*{
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #Ffffff;
    /* width: 100vw; */
    overflow-x: hidden;
}

/* Reloader */
.reloader-container{
   position: fixed;
bottom: 0;
top: 0;
left: 0;
right: 0;
background-color: rgb(0, 0, 0 , 0.9);
z-index: 50;
text-align: center;

animation-name: MoveReloaderContainer;
animation-duration: 0.2s;
animation-delay: 1.5s;
}

@keyframes MoveReloaderContainer {
   10%{
   /* transform: translateY(100%); */
   /* width: 50%;
   margin: auto; */
   opacity: 0.5;
   }
   100%{
      transform: translateY(-100%);
      /* width: 50%;
      margin: auto; */
   }
   
}


.ReloaderIMG{
   padding:150px 0;
   animation-name: MoveReloaderIMG;
   animation-duration: 1.5s;
}
@keyframes MoveReloaderIMG {
10%{
   width: 20px;
   
}
20%{
   width: 80px;
}
50%{
   width: 100px;
}
100%{
   width: 200px;
}
}

/* First Nav Bar */

.Logobar{
    background-color: rgb(239, 236, 236);
    width: 100%;
    height:40px;
    position: relative;
    padding:5px 0px;
    padding-left: 40px;
}
.jordan{
   /* border: 1px solid black; */
   width: 28px;
   height: 28px;
   position: absolute;
   overflow: hidden;
}
.jordan img{
   width: 100%;
   height: 100%;
}
.converse{
   /* border: 1px solid black; */
   width: 28px;
   height: 28px;
   position: absolute;
   margin-left: 72px;
}
.converse img{
   width: 100%;
   height: 100%;
}
.cta{
   width: 25%;
   height: 100%;
   /* border: 1px solid green; */
   float: right;
   margin-right: 40px;
   padding: 4px;
}
.border{
   width: 25%;
   height: 100%;
   /* border-right:2px solid grey; */
   float: left;
   text-align: center;
}
.border:hover{
   width: 25%;
   height: 100%;
   border-bottom:4px solid rgb(31, 31, 39);
   float: left;
   text-align: center;
}
.border a{
 text-decoration: none;
 color: #323232;
 font-size: 12px;
 font-weight: bold;
}

.signin{
   width: 25%;
   height: 100%;
   float: left;
   text-align: center;
}
.signin a{
   text-decoration: none;
   color: #323232;
   font-size: 12px;
   font-weight: bold;
}
.signin:hover{
   border-bottom:4px solid rgb(31, 31, 39);
   
}

/* Second Nav Bar */

.Nav{
    /* border: 0.5px solid black; */
    width: 100%;
    height: 72px;
    padding: 4px 0px;
    position: sticky;
    top: 0px;
    z-index: 1000;
    background-color: #f9f9f9;
}
.brand-logo{
   border: none;
   width: 10%;
   height: 100%;
   float: left;
   padding: 8px 44px;
   padding-top: 20px;
   border-radius: 50%;
}

.logo{
   /* border: 1px solid orange; */
   width: 30px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.logo img{
   width: 100%;
   height: 100%;
   object-fit: fill;
}
.Nav-content{
   /* border: 2px solid orange; */
   width: 60%;
   height: 100%;
   float: left;
   padding: 20px 72px 12px 204px;
}
.hold-content{
   /* border: 1px solid red; */
   width: 100%;
   height: 100%;
}
.contents{
   /* border: 1px solid black; */
   width: 16.66%;
   height: 100%;
   float: left;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 1000px;
}
a .contents{
   text-decoration: none;
   color: #000000;
   font-size: 16px;
   font-weight: bold;
}
#home:active{
   background-color: #0d0d0d;
   color: white;
}

a .contents:hover{
   background-color: rgb(31, 31, 39);
   color: #ffffff;
   align-items: center;
   justify-content: center;
   text-align: center;
   
}
.Nav-search{
   /* border: 2px solid rgb(0, 255, 195); */
   width: 30%;
   height: 100%;
   float: left;
   padding: 8px;
}
.search-container{
   /* border: 1px solid black; */
   width: 100%;
   height: 100%;
   /* float: left; */
}
.searchbar{
   width: 70%;
   height: 100%;
   /* border: 1px solid purple; */
   overflow: hidden;
   background-color: #ebe8e8;
   border-radius: 1000px;
   float: left;
}
.searchbar:hover{
   background-color: #bcb9b9
}

.search-icon{
   width: 48px;
   height: 100%;
   border-radius: 100px;
   float: left;
   margin-left: 2px;
   padding: 16px;
}
.search-icon:hover{
background-color: rgb(31, 31, 39);
color: #Ffffff;
}
.search-icon p{
   width: 32px;
   height: 32px;
}
.fave{
   /* border: 1px solid blue; */
   width: 15%;
   height: 100%;
   float: left;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.fave-icon p{
   width: 32px;
   height: 32px;
}

.landing_image{
    width: 100%;
    height: 950px;
    background-color: #0d0d0d;
    background-image: url('https://phlearn.com/wp-content/uploads/2017/12/Studio-Lighting-Retouching-Athletes-after.jpg');
    background-position: center;
    background-size: cover;
}

/* .landing_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.headertxt{
    text-align: center;
    font-size: 76px;
    font-weight: 900;
}
.subtxt{
    text-align: center;
    font-size: 24px;
    margin-top: 16px;
}

.hero_btn{
    /* border: 2px solid black; */
    width: 20%;
    height: 48px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}

.hero_btn1{
    width: 50%;
    height: 100%;
    /* border: 1px solid pink; */
    float: left;
    padding: 2px 8px;

}
.hero_btn1 button{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #0d0d0d;
    border-radius:20px;
}

.hero_btn1 button a{
   color: #F4FEFE;
   text-decoration: none;
   font-size: 16px;
   font-weight: 600;
}

.hero_btn2{
    width: 50%;
    height: 100%;
    /* border: 1px solid pink; */
    float: left;
    padding: 2px 8px;

}
.hero_btn2 button{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #0d0d0d;
    border-radius: 20px;
}

.hero_btn2 button a{
   color: #F4FEFE;
   text-decoration: none;
   font-size: 16px;
   font-weight: 600;
}

.hero_btn2 button:hover{
    background-color:  rgb(31, 31, 39);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
 }
 .hero_btn1 button:hover{
    background-color:  rgb(31, 31, 39);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
 }

 .catalogue1{
    /* border: 1px solid black; */
    width: 100%;
    height: 650px;
 }

 .ctg1{
    width: 50%;
    height: 100%;
    float: left;
    /* border: 1px solid black; */
    overflow: hidden;
    position: relative;
 }
 .ctg1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }


 .overlay{
    position: absolute;
    color: #F4FEFE;
    bottom: 80px;
    left: 24px;
    width: 40%;
    /* border: 3px solid black; */
 }
 .overlay p{
    font-size: 18px;
    font-weight: 600;
 }
 
 .overlay h3{
    font-size: 28px;
    font-weight: 600;
 }

.overlay button{
    width: 40%;
    height:40px ;
    background-color: #F4FEFE;
    color: #0d0d0d;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    padding: 0px 16px;
}
.overlay button:hover{
    width: 40%;
    height:40px ;
    background-color:  rgb(31, 31, 39);
    color: #F4FEFE;
    border-radius: 20px;
    border: none;
}

 .ctg2{
    width: 50%;
    height: 100%;
    float: left;
    /* border: 1px solid black; */
    overflow: hidden;
    position: relative;
 }
 .ctg2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }


 .catalogue2{
    /* border: 1px solid black; */
    width: 100%;
    height: 650px;
 }

 .ctg3{
    width: 50%;
    height: 100%;
    float: left;
    /* border: 1px solid black; */
    overflow: hidden;
    position: relative;
 }
 .ctg3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }


 .overlay{
    position: absolute;
    color: #F4FEFE;
    bottom: 80px;
    left: 24px;
    width: 40%;
    /* border: 3px solid black; */
 }
 .overlay p{
    font-size: 18px;
    font-weight: 600;
 }
 
 .overlay h3{
    font-size: 28px;
    font-weight: 600;
 }

.overlay button{
    width: 40%;
    height:40px ;
    background-color: #F4FEFE;
    color: #0d0d0d;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    padding: 0px 16px;
}
.overlay button:hover{
    background-color: rgb(31, 31, 39);
    color: #F4FEFE;
    /* border-radius: 20px; */
    /* border: none; */
}

 .ctg4{
    width: 50%;
    height: 100%;
    float: left;
    /* border: 1px solid black; */
    overflow: hidden;
    position: relative;
 }
 .ctg4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 .header2{
    text-align: center;
    font-weight: 800;
    font-size: xx-large;

 }

 .para2{
    text-align: center;
    font-size: 20px;
    margin-top: 12px;
 }

 .btn{
    width:8%;
    height: 50px;
    border: none;
    border-radius: 100px;
    background-color: #0d0d0d;
    display: block;
    margin: auto;
    margin-top: 20px;
 }

 .btn a{
    color: #F4FEFE;
    text-decoration: none;
    font-size: 18px;
 }

 .btn:hover{
    color: #F4FEFE;
    text-decoration: none;
    font-size: 18px;
    background-color: rgb(31, 31, 39);
 }

 .landing_image1{
    width: 100%;
    height: 720px;
    overflow: hidden;
}

.landing_image1 img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.carousel_headertxt{
    margin-left: 40px;
    font-size: xx-large;
    font-weight:800;
}
.carl_bg{
   position: relative;
}
.carl_bg:hover{
   border: 2px solid rgb(31, 31, 39);
   border-radius: 4px;
}

.carl_txt{
   position: absolute;
   bottom: 50px;
   left: 30px;
   font-weight: bold;
   font-size: 28px;
   color: #323232;
}

.nav-icon{
   display: none;
}
.nav-icon i{
   font-size: 28px;
   cursor: pointer;
}


/* Footer */
.footer, .menu {
   display: flex;
   justify-content: space-between;
   padding: 20px;
   background-color: #f7f7f7;
}
.footer div, .menu div {
   margin-right: 20px;
}
.footer ul, .menu ul {
   list-style-type: none;
   padding: 0;
}
.footer ul li, .menu ul li {
   margin-bottom: 10px;
}
.footer ul li a, .menu ul li a {
   text-decoration: none;
   color: #000;
}
.footer div:last-child {
   margin-right: 0;
}
.copyright {
   text-align: center;
   padding: 20px;
   background-color: #f7f7f7;
   font-size: 12px;
   color: #999;
}


@media only screen and (max-width:1100px) {
   
   .Nav-search{
      display: none;
   }
   .Nav-content{
      /* display: none; */
      position: relative;
      left: -150%;
   }
   .nav-icon{
      display: flex;
      align-self: center;
      justify-self: center;
      margin-top: 10px;
      margin-right: 10vw;
      float: right;  

   }
   .Nav-content.responsive {
      position: fixed;
      display: flex;
      background-color: rgba(255,255,255,0.7);
      padding-top: 10vh;
      backdrop-filter: blur(50px);
      width: 100%;
      text-align: left;
      flex-direction: column;
      gap: 20px;
      left: 0;
      transition: .5s;
   }
   .contents{
      width: 100px;
      
   }
   .overlay button{
      width: 100%;
      padding: 10px;
   }
   .overlay button:hover{
      width: 100%;
   }
  .Nav-content.responsive .nav-icon {
    position: absolute;
    right: 0;
    top: 0;
   
      z-index: 1;
    /* z-index: 1000; */
  }
  .Nav-content.responsive a {
    float: none;
    display: flex;
    gap: 30px;
    text-align: left;
  }
  .hero_btn{
   width: 40%;
  }
  .btn{
   width:20%;
   /* height: 50px;
   border: none;
   border-radius: 100px;
   background-color: #0d0d0d;
   display: block;
   margin: auto;
   margin-top: 20px; */
}
.carl_txt{
   font-size: 15px;
   position: relative;
   top:-30px;
   left: 0;
}
}

@media only screen and (max-width:1200px) {
   .jordan{
      display: none;
   }
   .converse{
      display: none;
   }

  .cta{
   width: 60%;
   height: 100%;
  }
}









 

