* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* Grid View */

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* body {
    animation-name: moveBody;
    animation-duration: 0.7s;
    background-color: snow;
}


@keyframes moveBody {
    10% {
        background-color: black;
        width: 50%;


    }

    50% {

        transform: translateX(-100%);
    }

    100% {


        transform: translateX(100%);
        background-color: rgb(183, 181, 181);

    }
} */


/* Reloader */
.reloader-container{
    position: fixed;
 bottom: 0;
 top: 0;
 left: 0;
 right: 0;
 background-color: rgb(0, 0, 0 , 0.9);
 z-index: 50;
 text-align: center;
 
 animation-name: MoveReloaderContainer;
 animation-duration: 0.2s;
 animation-delay: 1.5s;
 }
 
 @keyframes MoveReloaderContainer {
    10%{
    /* transform: translateY(100%); */
    /* width: 50%;
    margin: auto; */
    opacity: 0.5;
    }
    100%{
       transform: translateY(-100%);
       /* width: 50%;
       margin: auto; */
    }
    
 }
 
 
 .ReloaderIMG{
    padding:150px 0;
    animation-name: MoveReloaderIMG;
    animation-duration: 1.5s;
 }
 @keyframes MoveReloaderIMG {
 10%{
    width: 20px;
    
 }
 20%{
    width: 80px;
 }
 50%{
    width: 100px;
 }
 100%{
    width: 200px;
 }
 }
 
 
/* My Fixed Styles */

.h30p {
    height: 30%;
}

.h50p {
    height: 50%;
}

.h70p {
    height: 70%;
}

.h100p {
    height: 100%;
}

.TextBolder {
    font-weight: bolder;
}


/* mens-shoes-first-section */

.mens-shoes-first-section {
    /* border: 4px solid red; */

    height: 100px;


}


.mens-shoes-first-section-content {
    height: 100%;
    padding: 30px 0;
}

.mens-shoes-first-section-content-left {
    float: left;
    /* border: 4px solid black; */
}

.mens-shoes-first-section-content-left h2 {
    padding: 0 30px;
}


.mens-shoes-first-section-content-right {
    float: left;
    /* border: 4px solid green; */
}


.mens-shoes-first-section-content-right p {
    float: right;
    padding: 0 30px;
}




/* mens-shoes-aside-section */

.mens-shoes-aside-section {
    height: 600px;
    /* border: 4px solid green; */
    width: 250px;
    position: fixed;
    padding: 0 50px;
    overflow-y: scroll;



}

.mens-shoes-aside-content h3 {
    border-bottom: 2px solid black;
    padding: 10px 0;

}

.mens-shoes-aside-content p {
    padding: 10px 0;
}




/* mens-shoes-body-section */

.mens-shoes-body-section {
    /* border: 4px solid yellow; */
    background-color: black;
    background-image: url('../images/My\ Design\ 3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-left: 255px;
}

.mens-shoes-body-Divs-container {
    height: 600px;
    /* border: 4px solid green ; */
}

.mens-shoes-body-Divs {
    float: left;
    padding: 20px 10px;
}

/* .mens-shoes-body-Divs-child {
    border: 4px solid red;
} */

/* .mens-shoes-body-Divs-child-top {
    border: 4px solid yellow;
} */

.mens-shoes-body-Divs-child-bottom {
    /* border: 4px solid green; */
    padding: 10px 10px;
    color: white;
    /* font-size: 20px; */
}

.mens-shoes-body-Divs-child-top img {
    object-fit: cover;
    border-radius: 5px;
}

.mens-shoes-body-Divs-child-bottom .lastP {
    font-weight: bolder;
}


.fa-house{

    color: tomato;
}

@media only screen and (max-width: 1250px) {

    * {
        box-sizing: border-box;
    }


    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }

    .mens-shoes-aside-section{
        display: none;
    }
    .mens-shoes-body-section {
        height: 3200px;
        /* border: 4px solid yellow; */
        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin-left: 0px;
    }

   
}




@media only screen and (max-width: 1000px) {
    * {
        box-sizing: border-box;
    }


    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }

    .mens-shoes-body-section {
        height: 3000px;
        /* border: 4px solid yellow; */
       
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin-left: 0px;
    }
    
    .mens-shoes-body-Divs-child-top img {
        object-fit: cover;
        border-radius: 5px;
    }

    /* .mens-shoes-body-Divs-child-top{
        border: 4px solid green;
        height: 200px;
    
    } */


    
    
}


@media only screen and (max-width: 700px) {
    * {
        box-sizing: border-box;
    }

    .mens-shoes-body-section {
        height: 5500px;
        /* border: 4px solid yellow; */
       
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin-left: 0px;
    }

.mens-shoes-body-Divs{
        width: 100%;
    }

   

}


